{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col pt-1 pb-3">
    {% if user.is_authenticated %}
      <a class="btn btn-outline-warning" href="/users/{{vid}}/chosen">Выбранные кандидаты</a>
      <a class="btn btn-outline-primary" href="/users/{{vid}}/all">Все</a>
    {% endif %}
  </div>
  <div class="col-lg text-center pt-1 pb-3">
    <form id="Search" method="POST">
      {% csrf_token %}
      <input id="SearchEl" name="search" type="search" class="form-control rounded" placeholder="Поиск..." aria-label="Search" aria-describedby="search-addon"/>
      <button type="submit" class="btn btn-outline-primary" name ="action" value="search">Найти</button>
    </form>
  </div>
  <div class="col d-flex justify-content-end pt-1 pb-3">
    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#filter_modal">Фильтр Пользователей</a> 
  </div>
</div>
{% for i in users %}
  <div class="row flex-nowrap justify-content-between pt-3">
    <div class="col justify-content-center pl-5">
      <div class="row pl-3">
        <div class="col-3 d-flex justify-content-end pr-5 pt-2">
          {% if i.1 %}
            <input class="FavV star align-top" type="checkbox" data-id="{{vid}}!{{i.0.id}}!v" onchange="FavV(this);">
          {% else %}
            <input class="FavV star align-top" type="checkbox" data-id="{{vid}}!{{i.0.id}}!v" onchange="FavV(this);" checked>
          {% endif %}
        </div>
        <div class="col pt-3">
          <a class="h5" href="/profile/{{i.0.id}}">{{i.0.username}}</a>
          {% if i.0.profile.is_online %}
            <span class="online"></span>
          {% else %}
            <span class="offline"></span>
          {% endif %}
          <div class="mb-1 text-muted">{{ i.0.date_joined }}</div>
        </div>
      </div>
      <div class="row pt-5 pl-5">
        <h6>
        {% for i in i.0.profile.s_list %}
          <span class="badge badge-info">{{ i|slice:":-1" }}</span>
        {% endfor %}
        </h6>
      </div>
      <div class="row pt-1 pl-5">
        <h6>
        {% for i in i.0.profile.l_list %}
          <span class="badge badge-danger">{{ i|slice:":-1" }}</span>
        {% endfor %}
        </h6>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <p><strong>ФИО:</strong> {{i.0.profile.fio}}</p>
      <p><strong>Пол:</strong> {{i.0.profile.sex}}</p>
      <p><strong>Возраст:</strong>
        {% if i.0.profile.age == 0 %}
          -
        {% else %}
          {{i.0.profile.age}}
        {% endif %}
      </p>
      <p><strong>Образование:</strong> {{i.0.profile.education}}</p>
      <p><strong>Город:</strong> {{i.0.profile.city}}</p>
    </div>
    <div class="col-3 d-none d-lg-block">
      {% load static %}
      <img src="{% static 'images/default_avatar.png' %}" class="rounded_pic" width="200" height="200"/>
    </div>
  </div>
  <hr>
{% empty %}
  <div class="col d-flex justify-content-center"><strong>Подходящих пользователей не найдено...</strong></div>
{% endfor %}
{% endblock content %}